{% extends 'home.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block body %}
    <div class="contact-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-title">
                        <h2>Contact us</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="contact-form-area">
                        <form action="{% url 'newsapp:clientmessagecreate' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    {{form.name}}
                                </div>
                                <div class="col-12 col-lg-6">
                                    {{form.email}}
                                </div>
                                <div class="col-12">
                                    {{form.subject}}
                                </div>
                                <div class="col-12">
                                    {{form.message}}
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn newspaper-btn mt-30 w-100" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <!-- Single Contact Information -->
                    <div class="single-contact-information mb-30">
                        <h6>Address:</h6>
                        <p>Orchid Colony, Kathmandu <br>Nepal</p>
                    </div>
                    <!-- Single Contact Information -->
                    <div class="single-contact-information mb-30">
                        <h6>Phone:</h6>
                        <p>+977 9860350292 <br>+977 9860350292</p>
                    </div>
                    <!-- Single Contact Information -->
                    <div class="single-contact-information mb-30">
                        <h6>Email:</h6>
                        <p>sigdelananda@gmail.com</p>
                    </div>
                </div>
            </div>

            <!-- Google Maps -->
            <div class="map-area">
                <div id="googleMap"></div>
            </div>

        </div>
    </div>
{% endblock %}
    
